
@mixin flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin heading-bottom-border {
   &::after{
    content: "";
    background-color: $primary-color;
    width: 30%;
    height: .2rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
   }
}

@mixin heading-para{
    text-align: center;
    line-height: 2.5;

    h1 {
        display: inline-block;
        font-size: 3rem;
        font-weight: 100;
        position: relative;

       @include heading-bottom-border;
    }

    p {
        font-size: 2.4rem;
        font-weight: 100;
        margin-bottom: 2rem;
    }
}
@mixin four-div{
    @include flex-box;
    margin-bottom: 5rem;

    div {
        width: calc(100% / 4);
        text-align: center;
        padding: 1.5rem;
        line-height: 2.8rem;
      

        i {
            font-size: 4rem;
            color: $primary-color;
        }

        h3 {
            font-size: 1.7rem;
        }

        p {
            font-size: 1.5rem;
          
            
        }


    }
}