* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Dosis", sans-serif;
  background-color: #ffffff;
}

#home-header {
  height: 100vh;
  background: url("../img/showcase.jpg") no-repeat center center/cover;
}
#home-header .navbar {
  height: 8.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home-header .navbar .nav-logo {
  margin-left: 4rem;
  width: 6rem;
  height: 6rem;
  background-color: red;
  background: url("../img/logo.png") no-repeat center center/cover;
}
#home-header .menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin-right: 4rem;
}
#home-header .menu li a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.7rem 0.7rem;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.4s;
}
#home-header .menu li a:hover {
  border-bottom: 0.3rem solid #ffffff;
}
#home-header .menu li a.active {
  border-bottom: 0.3rem solid #FFBC00;
}
#home-header .home-content {
  height: calc(100vh - 8.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
#home-header .home-content div {
  color: white;
  min-width: 50%;
  min-height: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#home-header .home-content div h3 {
  font-size: 6rem;
  padding-right: 2rem;
  border-right: 0.6rem solid;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 7s steps(20, end) infinite forwards;
}
#home-header .home-content div p {
  font-size: 2.2rem;
}
#home-header .home-content div a {
  background-color: #ffffff;
  color: #333333;
  text-decoration: none;
  margin-top: 3rem;
  padding: 1.5rem 3.5rem;
  font-size: 1.7rem;
  transition: background-color 0.4s;
}
#home-header .home-content div a:hover {
  background-color: #FFBC00;
}

#home-header.other-page-header {
  height: 8.5rem;
  background: url("../img/showcase.jpg") no-repeat center/cover;
  background-position-y: -23rem;
  border-bottom: 0.2rem solid #FFBC00;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
}
#home-sec-a .sec-a-div1 {
  text-align: center;
  line-height: 2.5;
}
#home-sec-a .sec-a-div1 h1 {
  display: inline-block;
  font-size: 3rem;
  font-weight: 100;
  position: relative;
}
#home-sec-a .sec-a-div1 h1::after {
  content: "";
  background-color: #FFBC00;
  width: 30%;
  height: 0.2rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
#home-sec-a .sec-a-div1 p {
  font-size: 2.4rem;
  font-weight: 100;
  margin-bottom: 2rem;
}
#home-sec-a .sec-a-div2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
#home-sec-a .sec-a-div2 div {
  width: 25%;
  text-align: center;
  padding: 1.5rem;
  line-height: 2.8rem;
}
#home-sec-a .sec-a-div2 div i {
  font-size: 4rem;
  color: #FFBC00;
}
#home-sec-a .sec-a-div2 div h3 {
  font-size: 1.7rem;
}
#home-sec-a .sec-a-div2 div p {
  font-size: 1.5rem;
}
#home-sec-a .sec-a-div3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home-sec-a .sec-a-div3 div {
  width: 25%;
  text-align: center;
  padding: 4rem;
  line-height: 5rem;
  background-color: #F4F4F4;
}
#home-sec-a .sec-a-div3 div i {
  font-size: 5rem;
}
#home-sec-a .sec-a-div3 div h3 {
  font-size: 1.7rem;
}
#home-sec-a .sec-a-div3 div p {
  font-size: 4rem;
  font-weight: bold;
}
#home-sec-a .sec-a-div3 div:nth-child(even) {
  background-color: #CCCCCC;
}

#home-sec-b {
  margin-top: 5rem;
}
#home-sec-b .sec-b-div1 {
  text-align: center;
  line-height: 2.5;
}
#home-sec-b .sec-b-div1 h1 {
  display: inline-block;
  font-size: 3rem;
  font-weight: 100;
  position: relative;
}
#home-sec-b .sec-b-div1 h1::after {
  content: "";
  background-color: #FFBC00;
  width: 30%;
  height: 0.2rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
#home-sec-b .sec-b-div1 p {
  font-size: 2.4rem;
  font-weight: 100;
  margin-bottom: 2rem;
}
#home-sec-b .sec-b-div2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home-sec-b .sec-b-div2 .section-b-div-div {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  flex-direction: column;
  padding: 1.5rem;
}
#home-sec-b .sec-b-div2 .sec-b-icon {
  display: inline-block;
  width: 12rem;
  height: 12rem;
  background-color: #333333;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.8s;
}
#home-sec-b .sec-b-div2 .sec-b-icon i {
  font-size: 6rem;
  color: #ffffff;
}
#home-sec-b .sec-b-div2 .sec-b-icon .numbering {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 50%;
  background-color: #FFBC00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  transition: all 0.8s;
}
#home-sec-b .sec-b-div2 .sec-b-icon:hover {
  height: 14rem;
  width: 14rem;
  background-color: #FFBC00;
}
#home-sec-b .sec-b-div2 .sec-b-icon:hover .numbering {
  background-color: black;
}
#home-sec-b .sec-b-div2 h3 {
  font-size: 1.6rem;
}
#home-sec-b .sec-b-div2 p {
  font-size: 1.6rem;
  text-align: center;
  line-height: 2.5rem;
}

footer {
  background-color: #333333;
  color: #ffffff;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}
footer p {
  font-size: 1.5rem;
}
footer .footer-icon i {
  border: 0.2rem solid;
  border-radius: 50%;
  padding: 1rem;
  font-size: 1.5rem;
  margin-left: 2rem;
}
footer .footer-icon i:hover {
  background-color: #FFBC00;
}

.about-section-a .abt-sec-a-div1 {
  text-align: center;
  line-height: 2.5;
}
.about-section-a .abt-sec-a-div1 h1 {
  display: inline-block;
  font-size: 3rem;
  font-weight: 100;
  position: relative;
}
.about-section-a .abt-sec-a-div1 h1::after {
  content: "";
  background-color: #FFBC00;
  width: 30%;
  height: 0.2rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.about-section-a .abt-sec-a-div1 p {
  font-size: 2.4rem;
  font-weight: 100;
  margin-bottom: 2rem;
}
.about-section-a .abt-sec-a-div3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
.about-section-a .abt-sec-a-div3 div {
  width: 25%;
  text-align: center;
  padding: 1.5rem;
  line-height: 2.8rem;
}
.about-section-a .abt-sec-a-div3 div i {
  font-size: 4rem;
  color: #FFBC00;
}
.about-section-a .abt-sec-a-div3 div h3 {
  font-size: 1.7rem;
}
.about-section-a .abt-sec-a-div3 div p {
  font-size: 1.5rem;
}
.about-section-a .abt-sec-a-div2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-section-a .abt-sec-a-div2 div {
  height: 22rem;
  margin: 1.5rem;
}
.about-section-a .abt-sec-a-div2 .abt-sec-a-div2-left {
  width: 30%;
  background: url(../img/about.jpg) no-repeat center center/cover;
}
.about-section-a .abt-sec-a-div2 .abt-sec-a-div2-right {
  background-color: #F4F4F4;
  border-left: 0.5rem solid #FFBC00;
  width: 70%;
  text-align: center;
  padding: 2rem;
  line-height: 2.5rem;
}
.about-section-a .abt-sec-a-div2 .abt-sec-a-div2-right h3 {
  font-size: 1.7rem;
}
.about-section-a .abt-sec-a-div2 .abt-sec-a-div2-right p {
  font-size: 1.6rem;
}

.about-section-b {
  background-color: #333333;
  padding: 3rem 0;
}
.about-section-b .technical-skills h1 {
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: 100;
  position: relative;
  line-height: 2;
  color: white;
}
.about-section-b .technical-skills h1::after {
  content: "";
  background-color: #FFBC00;
  width: 30%;
  height: 0.2rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.about-section-b .technical-skills .progress-div {
  margin-top: 2rem;
  color: #ffffff;
  padding: 0 3rem;
}
.about-section-b .technical-skills .progress-div h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.about-section-b .technical-skills .progress-div .progress {
  height: 2rem;
  border-radius: 0.5rem;
  background-color: #e8e8e8;
}
.about-section-b .technical-skills .progress-div .progress .total-progress {
  background-color: #FFBC00;
  height: 100%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}
.about-section-b .partner {
  border: 1px solid;
  margin-top: 5rem;
  background-color: #e8e8e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}
.about-section-b .partner div {
  padding: 3rem;
}

.about-section-c .testimonial-heading {
  text-align: center;
  line-height: 2.5;
  margin-top: 3rem;
}
.about-section-c .testimonial-heading h1 {
  display: inline-block;
  font-size: 3rem;
  font-weight: 100;
  position: relative;
}
.about-section-c .testimonial-heading h1::after {
  content: "";
  background-color: #FFBC00;
  width: 30%;
  height: 0.2rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.about-section-c .testimonial-heading p {
  font-size: 2.4rem;
  font-weight: 100;
  margin-bottom: 2rem;
}
.about-section-c .testimonials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-section-c .testimonials .testimonial-div {
  width: 25%;
  padding: 1.5rem;
}
.about-section-c .testimonials .testimonial-div p {
  border: 0.1rem solid #CCCCCC;
  border-radius: 0.8rem;
  min-height: 10rem;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 1rem;
}
.about-section-c .testimonials .testimonial-div .image-test {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: start;
  margin-bottom: 3rem;
  gap: 1rem;
  margin-top: 2rem;
}
.about-section-c .testimonials .testimonial-div .image-test img {
  width: 5rem;
  border-radius: 50%;
}
.about-section-c .testimonials .testimonial-div .image-test h3 {
  font-size: 1.3rem;
  font-weight: 100;
}

.contact-page-sec .contact-head {
  text-align: center;
  line-height: 2.5;
}
.contact-page-sec .contact-head h1 {
  display: inline-block;
  font-size: 3rem;
  font-weight: 100;
  position: relative;
}
.contact-page-sec .contact-head h1::after {
  content: "";
  background-color: #FFBC00;
  width: 30%;
  height: 0.2rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.contact-page-sec .contact-head p {
  font-size: 2.4rem;
  font-weight: 100;
  margin-bottom: 2rem;
}
.contact-page-sec form {
  padding: 3rem;
  text-align: center;
}
.contact-page-sec form div.form-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.contact-page-sec form div.form-input input {
  width: 50%;
  height: 3.5rem;
  padding-left: 2rem;
}
.contact-page-sec form textarea {
  width: 100%;
  height: 12rem;
  padding: 1rem;
}
.contact-page-sec form button {
  width: 50%;
  margin: 10rem;
  height: 3.7rem;
  background-color: #333333;
  color: white;
  border: none;
  transition: background-color 0.6s;
  cursor: pointer;
}
.contact-page-sec form button:hover {
  background-color: #FFBC00;
}

.contact-sec2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  background-color: #333333;
}
.contact-sec2 div {
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  color: #ffffff;
}
.contact-sec2 div i {
  font-size: 4rem;
}
.contact-sec2 div h3 {
  font-size: 1.7rem;
}
.contact-sec2 div p {
  font-size: 1.5rem;
}

.contact-sec3 {
  background-color: #FFBC00;
  text-align: center;
  color: #ffffff;
  padding: 8rem;
  font-size: 4rem;
  font-weight: 900;
}

.work-section {
  height: 115rem;
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr 2fr 2fr;
}
.work-section .work-heading {
  grid-column: 1/-1;
  text-align: center;
  line-height: 2.5;
}
.work-section .work-heading h1 {
  display: inline-block;
  font-size: 3rem;
  font-weight: 100;
  position: relative;
}
.work-section .work-heading h1::after {
  content: "";
  background-color: #FFBC00;
  width: 30%;
  height: 0.2rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.work-section .work-heading p {
  font-size: 2.4rem;
  font-weight: 100;
  margin-bottom: 2rem;
}
.work-section .work-img-div {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.work-section .work-img-div:hover img {
  transform: scale(1.2);
}
.work-section .work-img-div:hover img + .img-text {
  transform: none;
}
.work-section .work-img-div img {
  width: 100%;
  height: 100%;
  transition: all 0.6s;
}
.work-section .work-img-div .img-text {
  color: white;
  position: absolute;
  width: 70rem;
  height: 70rem;
  z-index: 1;
  transition: all 1.8s;
  transform: translateX(-90%) translateY(-90%) rotate(-100deg);
}
.work-section .work-img-div .img-text .text-para {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.work-section .work-img-div .img-text .text-para h3 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 100;
}
.work-section .work-img-div .img-text .text-para p {
  font-size: 3.2rem;
  font-weight: bold;
}
.work-section .work-img-div .img-text .text-para::before {
  content: "";
  background-color: #FFBC00;
  opacity: 0.9;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 40%;
  }
  #home-header {
    height: 22vh !important;
    border-bottom: 0.5rem solid #FFBC00 !important;
  }
  #home-header .navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #home-header .navbar .nav-logo {
    margin: 0rem;
    width: 9rem;
    height: 9rem;
  }
  #home-header .menu {
    gap: 3rem;
    margin-right: 0;
  }
  #home-header .menu li a {
    font-size: 2.5rem;
  }
  #home-header.other-page-header {
    background-position-y: center;
  }
  .home-content {
    min-height: 78vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    display: none;
  }
  .home-content div {
    color: rgb(240, 32, 32);
    min-width: 50%;
    min-height: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: block;
    flex-direction: column;
    justify-content: center;
  }
  .home-content div h3 {
    font-size: 6rem;
    padding-right: 2rem;
    border-right: 0.6rem solid;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 7s steps(20, end) infinite forwards;
  }
  .home-content div p {
    font-size: 2.2rem;
  }
  .home-content div a {
    background-color: #ffffff;
    color: #333333;
    text-decoration: none;
    margin-top: 3rem;
    padding: 1.5rem 3.5rem;
    font-size: 1.7rem;
    transition: background-color 0.4s;
  }
  .home-content div a:hover {
    background-color: #FFBC00;
  }
}
@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
}
#home-sec-a .sec-a-div1 {
  text-align: center;
  line-height: 2.5;
}
#home-sec-a .sec-a-div1 h1 {
  display: inline-block;
  font-size: 3rem;
  font-weight: 100;
  position: relative;
}
#home-sec-a .sec-a-div1 h1::after {
  content: "";
  background-color: #FFBC00;
  width: 30%;
  height: 0.2rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
#home-sec-a .sec-a-div1 p {
  font-size: 2.4rem;
  font-weight: 100;
  margin-bottom: 2rem;
}
#home-sec-a .sec-a-div2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
#home-sec-a .sec-a-div2 div {
  width: 25%;
  text-align: center;
  padding: 1.5rem;
  line-height: 2.8rem;
}
#home-sec-a .sec-a-div2 div i {
  font-size: 4rem;
  color: #FFBC00;
}
#home-sec-a .sec-a-div2 div h3 {
  font-size: 1.7rem;
}
#home-sec-a .sec-a-div2 div p {
  font-size: 1.5rem;
}
#home-sec-a .sec-a-div3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home-sec-a .sec-a-div3 div {
  width: 25%;
  text-align: center;
  padding: 4rem;
  line-height: 5rem;
  background-color: #F4F4F4;
}
#home-sec-a .sec-a-div3 div i {
  font-size: 5rem;
}
#home-sec-a .sec-a-div3 div h3 {
  font-size: 1.7rem;
}
#home-sec-a .sec-a-div3 div p {
  font-size: 4rem;
  font-weight: bold;
}
#home-sec-a .sec-a-div3 div:nth-child(even) {
  background-color: #CCCCCC;
}/*# sourceMappingURL=main.css.map */